body {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 10rem;
  background-image: url(../pictures/paperpaper-bg.jpg);
  background-size: cover;
}

#wrapper {
  display: grid;
  border: 1rem solid gray;
  background-color: white;
  border-radius: 2rem;
}

#output {
  display: grid;
  justify-content: end;
  padding-top: 3rem;
  border-bottom: 1rem solid gray;
  padding-left: 9rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  font-size: 2rem;
}

#keys {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.2rem;
  padding: 1rem;
}

.calc {
  font-size: 1rem;
  border-radius: 5rem;
  height: 4rem;
  width: 4rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
}

.calc:hover {
  border: 0.2rem solid black;
  background-color: black;
  color: white;
}

.calc:active {
  background-color: gray;
}

.resize {
  grid-column: 3/5;
  width: 8rem;
}

#output {
  height: auto;
  width: 10rem;
  color: b;
}
